# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	checkMissingIterableValueType: false
	bootstrapFiles:
		- phpstan-bootstrap.php
	scanDirectories:
		- abtest/lib/
		- advertising/lib/
		- advertising/classes/
		- b24connector/lib/
		- biconnector/lib/
		- biconnector/classes/
		- bitrixcloud/classes/
		- bizproc/lib/
		- bizproc/classes/
		- blog/lib/
		- calendar/lib/
		- calendar/classes/
		- main/lib/
		- main/lib/ui/
		- main/classes/				
		- intranet/lib/
		- intranet/classes/
		- crm/lib/
		- crm/classes/
		- disk/lib/
		- iblock/lib/
		- iblock/classes/
		- tasks/lib/
		- tasks/classes/
		- im/lib/
		- im/classes/		
		- ../ricc.loc/local/modules